<%- include('partials/_generalHeader'); %>

<body>
    <section class="sub-header">
        <%- include('partials/_nav'); %>
        <h1>Sobre Nosotros</h1>
    </section>

<!---------About us content --------->

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Somos la mejor concesionaria del país</h1>
            <p>En Mashin buscamos darle siempre la mejor calidad en nuestros productos y en servicio,
            queremos que experimente la mejor experiencia posible al adquirir un vehiculo con nosotros
            para que no solo sepa que puede confiar en nosotros para próximas compras, sino que también
            pueda recomendarnos con sus familiares y conocidos y de esa forma poder seguir manteniendo en	     alto nuestro compromiso con ser la mejor concesionaria del país.
            </p>
            <a href="/contact" class="hero-btn red-btn">DESCUBRE AHORA</a>
        </div>
        <div class="about-col">
            <img src="../images/about.jpg">
        </div>
    </div>

</section>

    
<!---------Footer--------->

<%- include('partials/_footer'); %>