<%- include('partials/_header'); %>

<section class="header">
	<img id="logo" src="/images/logo.png">
	<div id="optionsPanelAdmin">
		<h1>Haz clic en la sección de tu interés</h1>
		<div id="gridContainerAdmin">
			
			<a href="/goSearchCustomer">
				<div class="buttonsPanelAdmin">
					<p class"pButtons">Buscar cliente</p>
				</div>
			</a>

			<a href="/goSearchVehicle">
				<div class="buttonsPanelAdmin">
					<p class"pButtons">Buscar vehículos</p>
				</div>
			</a>

			<a href="/goSearchUser">
				<div class="buttonsPanelAdmin">
					<p class"pButtons">Buscar usuario</p>
				</div>
			</a>

			<a href="/goAcounttingReport">
				<div class="buttonsPanelAdmin">
					<p class"pButtons">Informe de contabilidad</p>
				</div>
			</a>

			<a href="/goPurchaseOrder">
				<div class="buttonsPanelAdmin">
					<p class"pButtons">Orden de compra</p>
				</div>
			</a>

			<a href="/goDataPolicy">
				<div class="buttonsPanelAdmin">
					<p class"pButtons">Política de datos</p>
				</div>
			</a>

			<a href="/goRegisterCustomer">
				<div class="buttonsPanelAdmin">
					<p class"pButtons">Registrar cliente</p>
				</div>
			</a>

			<a href="/goRegisterVehicle">
				<div class="buttonsPanelAdmin">
					<p class"pButtons">Registrar vehículo</p>
				</div>
			</a>

			<a href="/goRegisterUser">
				<div class="buttonsPanelAdmin">
					<p class"pButtons">Registrar usuario</p>
				</div>
			</a>

			<a href="/">
				<div class="buttonsPanelAdmin">
					<p class"pButtons">Salir</p>
				</div>
			</a>

		</div>
	</div>
</section>

<%- include('partials/_footer'); %>