<%- include('partials/_header'); %>

<section class="header">
	<img id="logo" src="/images/logo.png">
	<div id="optionsPanel">
		<h1>Haz clic en la sección de tu interés</h1>
		<div id="gridContainer">
			
			<a href="/goRegisterPurchaseOrderVehicle">
				<div class="buttonsPanel">
					<p class"pButtons">Asociar órden de compra con un vehículo</p>
				</div>
			</a>

			<a href="/goSearchCustomer">
				<div class="buttonsPanel">
					<p class"pButtons">Buscar cliente</p>
				</div>
			</a>

			<a href="/goSearchInvoice">
				<div class="buttonsPanel">
					<p class"pButtons">Buscar factura</p>
				</div>
			</a>

			<a href="/goSearchWarranty">
				<div class="buttonsPanel">
					<p class"pButtons">Buscar garantía</p>
				</div>
			</a>

			<a href="/goSearchPurchaseOrder">
				<div class="buttonsPanel">
					<p class"pButtons">Buscar órden de compra</p>
				</div>
			</a>

			<a href="/goSearchUser">
				<div class="buttonsPanel">
					<p class"pButtons">Buscar usuario</p>
				</div>
			</a>

			<a href="/goSearchVehicle">
				<div class="buttonsPanel">
					<p class"pButtons">Buscar vehículos</p>
				</div>
			</a>

			<a href="/goSearchVehicleRegister">
				<div class="buttonsPanel">
					<p class"pButtons">Consultar registro del movimiento de vehículos</p>
				</div>
			</a>

			<a href="/goSearchPriceHistory">
				<div class="buttonsPanel">
					<p class"pButtons">Histórico de precios</p>
				</div>
			</a>

			<a href="/goSearchAcounttingReport">
				<div class="buttonsPanel">
					<p class"pButtons">Informe de contabilidad</p>
				</div>
			</a>

			<a href="/goSearchDataPolicy">
				<div class="buttonsPanel">
					<p class"pButtons">Política de datos</p>
				</div>
			</a>

			<a href="/goRegisterCustomer">
				<div class="buttonsPanel">
					<p class"pButtons">Registrar cliente</p>
				</div>
			</a>

			<a href="/goRegisterInvoice">
				<div class="buttonsPanel">
					<p class"pButtons">Registrar factura</p>
				</div>
			</a>

			<a href="/goRegisterPurchaseOrder">
				<div class="buttonsPanel">
					<p class"pButtons">Registrar órden de compra</p>
				</div>
			</a>

			<a href="/goRegisterUser">
				<div class="buttonsPanel">
					<p class"pButtons">Registrar usuario</p>
				</div>
			</a>

			<a href="/goRegisterVehicle">
				<div class="buttonsPanel">
					<p class"pButtons">Registrar vehículo</p>
				</div>
			</a>

			<a href="/">
				<div id="buttonsPanelExit">
					<p class"pButtons">Salir</p>
				</div>
			</a>

		</div>
	</div>
</section>

<%- include('partials/_footer'); %>