<%- include('partials/_header'); %>

<section class="header">
  <img id="logo" src="../images/logo.png">
  <div class="registerPanel">
    <h1>Registrar usuario</h1>
    <form action="/postUsers" method="POST">
      <div class="txt_fieldRegister">
        <input type="text" class="inputFieldRegister" name="identification" >
        <span></span>
        <label>Cédula</label>
      </div>

      <div class="txt_fieldRegister">
        <input type="text" class="inputFieldRegister" name="name" >
        <span></span>
        <label>Nombres</label>
      </div>

      <div class="txt_fieldRegister">
        <input type="text" class="inputFieldRegister" name="lastname" >
        <span></span>
        <label>Apellidos</label>
      </div>
      
      <div class="txt_fieldRegister">
        <input type="text" class="inputFieldRegister" name="contact" >
        <span></span>
        <label>Teléfono</label>
      </div>

      <div class="txt_fieldRegister">
        <input type="text" class="inputFieldRegister" name="address" >
        <span></span>
        <label>Dirección</label>
      </div>

      <div class="txt_fieldRegister">
        <input type="text" class="inputFieldRegister" name="email" required>
        <span></span>
        <label>Correo electrónico</label>
      </div>

      <div class="txt_fieldRegister">
        <input type="password" class="inputFieldRegister" name="pass" required>
        <span></span>
        <label>Contraseña</label>
      </div>

      <div class="txt_fieldRegister">
        <select class="inputFieldRegister" name="area">
          <option value=1>Departamento de dirección o gerencia</option>
          <option value=2>Departamento de asesoramiento comercial</option>
          <option value=3>Departamento o area de caja</option>
          <option value=0 selected></option>
        </select>
        <label id="areaText">Area asociada</label>
      </div>

      <div class="txt_fieldRegister">
        <select class="inputFieldRegister" name="status">
          <option value=1>Activo dentro del sistema</option>
          <option value=2>Inactivo dentro del sistema</option>
          <option value=3>Fuera de servicio dentro del sistema</option>
          <option selected></option>
        </select>
        <label id="areaText">Estado del usuario</label>
      </div>

      <input class="botons" type="submit" value="Registrar">
    </form>
  </div>
</section>

<%- include('partials/_footer'); %>