<%- include('partials/_header'); %>

<section class="header">
	<img id="logo" src="../images/logo.png">
	<div id="optionsPanelUser">
		<h1>Haz clic en la sección de tu interés</h1>
		<div id="gridContainerUser">

			<a href="/goSearchCustomer">
				<div class="buttonsPanelUser">
					<p class"pButtons">Buscar cliente</p>
				</div>
			</a>

			<a href="/goSearchVehicle">
				<div class="buttonsPanelUser">
					<p class"pButtons">Buscar vehículo</p>
				</div>
			</a>

			<a href="/goPurchaseOrder">
				<div class="buttonsPanelUser">
					<p class"pButtons">Orden de compra</p>
				</div>
			</a>

			<a href="/goRegisterCustomer">
				<div class="buttonsPanelUser">
					<p class"pButtons">Registrar cliente</p>
				</div>
			</a>

			<a href="/goRegisterVehicle">
				<div class="buttonsPanelUser">
					<p class"pButtons">Registrar vehículo</p>
				</div>
			</a>

			<a href="/">
				<div class="buttonsPanelUser">
					<p class"pButtons">Salir</p>
				</div>
			</a>
		</div>
	</div>
</section>

<%- include('partials/_footer'); %>