<section class="footer">
    <h4>Sobre nosotros</h4>
    <p>Aparte de nuestros contactos con nuestros trabajadores, también <br>puede ver nuestras redes sociales para poder saber más sobre nosotros.</p>
    <div class="icons">
        <img src="../images/facebook-f-brands.svg" alt="facebook" width="25" height="25">
        <img src="../images/twitter-brands.svg" alt="twitter" width="25" height="25">
        <img src="../images/instagram-brands.svg" alt="instagram" width="25" height="25">
        <img src="../images/youtube-brands.svg" alt="youtube" width="25" height="25">
    </div>
</section>

<!------JavaScript for Toggle Menu------>
<script>

    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px"
    }

</script>


</body>
</html>