<nav>
    <a href="/index"><img src="../images/logo.png"></a>
    <div class="nav-links" id="navLinks">
    <i class="fa fa-times" onclick="hideMenu()" aria-hidden="true"></i>
        <ul>
            <li><a href=" /index">INICIO</a></li>
            <li><a href="/about">SOBRE NOSOTROS</a></li>
            <li><a href="/goSearchVehicle">NUESTROS PRODUCTOS</a></li>
            <li><a href="/contact">CONTÁCTANOS</a></li>
            <li><a href="/dataPolicy">POLÍTICA DE DATOS</a></li>
        </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()" aria-hidden="true"></i>
</nav>